---
# Only the main Sass file needs front matter (the dashes are enough)
---

$footer-background-color: #676868;

$primary-color: #676868; //button Colors
$instagram-color: #7232bd; //instagram button color
$link-color: #5197ad; //changes color of links

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.page__hero--overlay { background-position: top; height: 650px;} // header image position from the top
.greedy-nav__toggle { background-color: #676868; } // toggle button is grey color now instead of red
