<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}
   <!-- BANNER SECTION -->
    <section class="jumbotron">
          <div class="container-fluid text-center">
            <h2>Training for strength and power with conscious nutrition</h2>
            <p>Come and follow our training programs for learning skills and improving mobility with a balanced nutrition</p>
          </div>
     </section>

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}
    
    {% include analytics.html %}

  </body>

</html>
